.h3 {
    width: 100%;
    margin-top: 0px;
    font-size: 23.5px;
}

body {
    background-size: cover;
    background-color: grey;
}

.klaw {
    font-size: 19px;
}

.footerdiv {
    position: fixed;
    background-color: rgb(188, 81, 182);
    bottom: 0px;
    color: rgb(253, 132, 119);
    width: 100%;
    text-align: center;
    line-height: 1.6;
    font-size: 15px;
}

canvas {
    border-style: double;
    border-radius: 25px;
    border-color: rgb(72, 208, 19);
    border-width: 3px;
    box-shadow: 5px 10px 18px 13px rgb(60, 210, 230);
    margin-top: 150px;
}